{% for post in posts %}
<div class="card my-2" style="/*background-color: #f8f8f5; color: #151515*/">
  <div class="card-body">
    <div id="card-header" class="d-flex justify-content-between">
      <a class="link-body-emphasis" href="{% url 'viewpost' post.pk %}">
        <h5 class="card-title p-2 m-2">{{ post.title }}</h5>
      </a>
      {% if user.is_staff or user == post.user %}
      <button
        class="btn btn-danger m-2 py-2 px-3"
        hx-delete="{% url 'delete_post' post.pk %}"
        hx-target="#postList"
        hx-swap="innerHTML"
      >
        Delete
      </button>
      {% endif %}
    </div>
    <p
      class="card-text p-2 m-2 text-wrap text-truncate"
      style="max-height: 3rem"
    >
      {{ post.body }}
    </p>
    <div class="d-flex p-2 m-2 justify-content-start align-items-center">
      <div
        class="badge align-self-middle text-wrap text-start me-auto text-secondary"
      >
        By @{{ post.user }}
        <img
          src="{{ post.user.profile.picture }}"
          class="rounded-circle"
          height="15"
          width="15"
        />
      </div>
      <div
        class="badge align-self-end text-wrap text-end ms-auto text-secondary"
      >
        Created on {{ post.created_at }}
      </div>
    </div>
  </div>
</div>
{% endfor %}
