{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    <title>{% block title %}{% endblock title %} | IIITNR Forum</title>
    <link
      href="{% static 'vendor/bootstrap/bootstrap.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{% static 'vendor/htmx.min.js' %}" defer></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'colorscheme.js' %}"></script>
    <link
      href="{% static 'vendor/fontawesome/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'vendor/fontawesome/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'vendor/fontawesome/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container-fluid p-0" >
      <nav style="/*background-color: #f8f8f5; color: #151515;*/" class="navbar p-2 navbar-fixed-top navbar-expand-lg ">
        <div class="container-fluid ">
          <a class="navbar-brand fs-1" style="/*color: #217591;*/" href="/">
            <img src="{% static 'images/logo.png' %}" width="80" height="80" class="d-inline-block align-text-middle" />
            IIITNR forum
          </a>
          
          
        </div>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 px-3 mb-lg-0">
        <!-- <li class="nav-item d-flex flex-row justify-content-center align-items-center px-3">
          <i class="fa-solid fa-sun mx-2"></i>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="color-mode-switch" role="switch">
          </div>
          <i class="fa-solid fa-moon mx-2"></i>
        </li>-->
        <li class="nav-item d-flex flex-row justify-content-center px-3">
              <a class="nav-link {% block homeActive %}{% endblock homeActive %}" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item d-flex flex-row justify-content-center px-3">
          <a class="nav-link {% block aboutActive %}{% endblock aboutActive %}" href="/about/">ABOUT</a>
        </li>
        {% if user.is_staff %}
        <li class="nav-item d-flex flex-row justify-content-center px-3">
          <a class="nav-link" href="/admin/">ADMIN</a>
        </li>
        {% endif %}
        
      </ul>

                     
      </nav>
          <hr class="bg-secondary m-0 border-top border-secondary" />
      {% if user.is_authenticated %}
      <div class="d-flex container-fluid align-items-center justify-content-between my-3 text-end"><div>Welcome, <strong>@{{request.user}}</strong> <img src="{{ user.profile.picture }}" class="rounded-circle" height="30px" width="30px"></div> <a class="btn btn-warning mx-2" href="/logout">Log out <i class="fa fa-arrow-right-from-bracket"></i></a></div>
      {% else %}
      <form action="{% provider_login_url 'google' %}" method="post" class="container-fluid align-middle my-3 text-end">
        {% csrf_token %}
        You are not logged in. 
        <button type="submit" class="btn btn-primary mx-2">
          Log in 
          <i class="fa fa-arrow-right-to-bracket"></i>
        </button>
      </form>
      {% endif %}
      <hr class="bg-secondary m-0 border-top border-secondary" />
    </div>
    {% block content %}
    {% endblock content %}
    <footer class="navbar container-fluid py-5" style="background-color: #217591; color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Forum - IIIT Naya Raipur</h2>
                </div>
                <div class="col-md-3">
                    <h5>About Us</h5>
                    <p>IIITNR Forum is a dedicated platform for students at the International Institute of Information Technology, Naya Raipur. We provide a space for students to connect, access academic information, and stay updated with college events and activities</p>
                </div>
                <div class="col-md-3">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>Email: forum@iiitnr.edu.in</li>
                        <li>Phone: +91 1234567890</li>
                        <li>Address: IIIT, Near Purkhoti Muktangan</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Follow Us</h5>
                    <ul class="list-inline footer-links">
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-facebook" style="color: #113355;"></i>
                          </a>
                          </li>
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-x-twitter" style="color: #1b1c1e;"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-github" style= "color: #fafafa;"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                                <i class="fab fa-linkedin" style= "color: #f8f8f5;"></i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </footer>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
      })
    </script>
  </body>
</html>
