{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block homeActive %}active{% endblock homeActive %}

{% block content %}


<div class="container-fluid my-0" style="background-image: url('{% static "images/backdrop-forum2.png" %}');background-size: cover; background-color:#f1c6c8;">
  <div class="py-1"></div>
  <nav class="navbar mt-5 bg-body-tertiary" style="background-color: transparent;">
    <div class="container-fluid" style="background-color: transparent;">
      <div class="m-2">
        <a class="navbar-brand">Posts</a>
        <a class="btn btn-primary" href="/newpost" ><i class="fa fa-plus"></i> New</a>
      </div>
      <form class="d-flex m-2" role="search">
        <input class="form-control me-2" id="forumsearch" type="search" placeholder="Search for posts.." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <div id = "postList">
    {% include 'partials/postlist.html' %}
  </div>
  <div class="py-1"></div>
</div>

{% endblock content %}
