{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block homeActive %}active{% endblock homeActive %}

{% block content %}


<div class="container-fluid my-0" style="background-image: url('{% static "images/backdrop-forum2.png" %}');background-size: cover; background-color:#f1c6c8; min-height: 700px">
  <div class="py-1"></div>
  <nav class="navbar mt-5 bg-body-tertiary" style="background-color: transparent;">
    <div class="container-fluid d-flex align-content-center justify-content-between flex-row" style="background-color: transparent;">
      <div class="d-flex align-items-center m-2">
        <a class="navbar-brand">Posts</a>
        <a class="btn btn-primary" href="/newpost" ><i class="fa fa-plus"></i> New</a>
      </div>
      <input class="form-control m-2" hx-post="{% url 'search' %}" hx-target="#postList" hx-trigger="keyup changed delay:500ms" id="forumsearch" type="search" placeholder="Search for posts.." aria-label="Search" name="search">
    </div>
  </nav>
  
  <div id = "postList">
    {% include 'partials/postlist.html' %}
  </div>
  <div class="py-1"></div>
</div>

{% endblock content %}
