{% extends 'base.html' %}
{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1 class="mb-5">You are banned.</h1>
    <p class="lead pb-5 mb-5">You've been banned from this platform. Your account has been suspended due to repeated violations of our community guidelines. If you believe this ban is unjustified, please contact our support team for further assistance.</p>
    <p class="lead">
      <a href="/logout" class="btn btn-lg btn-warning px-4"
        >Log out</a
      >
    </p>
  </main>
</div>
{% endblock content %}
